.pad-container {
  background: radial-gradient(
    circle,
    rgba(218, 95, 214, 1) 0%,
    rgba(204, 82, 201, 1) 25%,
    rgba(144, 32, 141, 1) 85%,
    rgba(112, 5, 110, 1) 100%
  );
  border-radius: 10px;
  cursor: pointer;
}

.pad-container:hover {
  background: white;
}

.pad {
  display: flex;
  justify-content: center;
}
