.launchpad-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.launchpad {
  border: solid 1px rgb(171, 171, 171);
  width: 800px;
  height: 100vh;
  padding: 10px;
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto auto;
  gap: 5px;
}
